@import-normalize; /* bring in normalize.css styles */

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p {
  margin: 0;
  padding: 0;
}

/* main {
  width: auto;
  @media screen and (min-width: 320px) {
    width: 320px;
    
  }
  
  @media screen and (min-width: 768px) {
    width: 768px;

  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
   
  }
} */
